footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: transparent;
    text-align: center;
    border-top: 1px solid rgba(218, 43, 44, 0.8);
    z-index: 10;
  }
  
  footer .container {
    max-width: 90%;
    margin: 0 auto;
  }
  
  footer .p1 {
    color: #333;
    font-size: 0.8vw;
    float: right;
    margin-top: -10px;
  }
  
  footer .p2 {
    color: rgba(218, 43, 44, 0.8);
    font-size: 1vw;
    text-align: center;
  }
  
  .img1 {
    margin-top: -10px;
    float: left;
  }
  